.checkout-container {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -300px;
  margin-bottom: 50px;
}

.checkout-heading {
  font-size: 30px;
  color: black;
}

.checkout-inner-container {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-left: 540px;
  align-items: center;
  margin-top: -20px;
}

.checkout-image {
  height: 25px;
  width: 25px;
  color: gray;
}

.checkout-quentity {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  display: flex;
}

.checkout-item {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
}

.checkout-dropdown-image {
  height: 30px;
  width: 30px;
  margin-left: 0px;
  margin-top: 5px;
}

.checkout-dropup-image {
  height: 12px;
  width: 10px;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 700;
}

.checkout-price {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.checkout-item-container {
  display: flex;
  align-items: center;
}
.checkout-ul-container {
  margin-left: 450px;
  width: 50vw;
}
hr {
  margin-top: 10px;
  border: 1px solid gray;
  width: 50%;
  margin-left: 650px;
}

.checkout-subtotal {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.checkout-sub-container {
  display: flex;
  justify-content: space-between;
  margin-left: 530px;
  width: 48vw;
  color: black;
}

.checkout-sub-container1 {
  display: flex;
  justify-content: space-between;
  margin-left: 530px;
  width: 48vw;
  color: black;
}

.checkout-sub-container2 {
  display: flex;
  justify-content: space-between;
  margin-left: 530px;
  width: 48vw;
  color: black;
}

.checkout-sub-container3 {
  display: flex;
  justify-content: space-between;
  margin-left: 530px;
  width: 48vw;
  color: black;
}
.checkout-subprice {
  font-size: 20px;

  font-weight: 500;
  margin-bottom: 0px;
}
.checkout-tax {
  font-size: 20px;
  font-weight: 600;
}
.checkout-taxprice {
  font-size: 20px;
  font-weight: 600;
}

.checkout-sub-container:hover {
  color: blue;
  transition: transform 0.3s ease;
  transform: scale(1.01);
}

.checkout-sub-container1:hover {
  color: blue;
  transition: transform 0.3s ease;
  transform: scale(1.01);
}

.checkout-sub-container2:hover {
  color: blue;
  transition: transform 0.3s ease;
  transform: scale(1.01);
}

.checkout-sub-container3:hover {
  color: blue;
  transition: transform 0.3s ease;
  transform: scale(1.01);
}
.checkout-placeout {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: blue;
  color: white;
  font-size: 15px;
  font-weight: 550;
  border-radius: 5px;
  border-width: 0px;
  text-align: center;
  margin-top: 50px;
}
.checkout-checkitem {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: gray;
  color: white;
  font-size: 15px;
  font-weight: 550;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 50px;
  text-align: center;
}
.checkout-checkitem:hover{
  transition: transform 0.3s ease;
  transform: scale(1.05);
  
}
.checkout-sub-container4 {
  display: flex;
  justify-content: space-between;
  margin-left: 530px;
  width: 48vw;
  color: black;

}
.checkout-placeout:hover{
  transition: transform 0.3s ease;
  transform: scale(1.05);
  
}